*{list-style:none;margin:0 0; padding:0 0;}
	#center{
		width:100%;
		height:900px;
		margin:0 auto;
		}
	#head{
		width:100%;
		height:130px;
		
		}
	
	#head img{
		margin:10px 100px;
		width:270px;
		height:100px;
		}
	.tx{
		width:1020px;
		height:25px;
		font-size:14px;
		color:#b61d1d;
		line-height:25px;
		text-align:center;
		display:inline-block;
		background-color:#FD7792;
		position:absolute;
		left:420px;
		top:52px;
		}
	#main{
		width:100%;
		height:600px;
		background:url(../img/t1.jpg);

		}
	.xx{
		width:400px;
		height:400px;
		position:relative;
		float:right;
		background-color:#FFEEF0;
		top:100px;
		right:80px;
		}
	.sp{
		font-size:18px;
		font-weight:700;
		margin:30px 25px;
		}
	.spi{
		width:25px;
		height:25px;
		margin-left:25px;
		margin-top:0px;
		position:relative;
		top:8px;
		margin-right:3px;
		}
	#spin1,#spin2{
		width:280px;
		height:30px;
		text-align:left;
		line-height:30px;
		color:#B9B9B9;
		padding:5px;
		}
	#spin3{
		position:relative;
		left:50px;
		}
	#spin4{
		position:relative;
		left:120px;
		}
	 span{
		font-size:16px;
		position:relative;
		left:60px;
		}
	.c{
		font-size:16px;
		position:relative;
		left:130px;
		}
	.sps{
		width:340px;
		height:40px;
		background-color:#b61d1d;
		text-align:center;
		line-height:40px;
		margin-left:22px;
		}
	.sps a{
		text-decoration:none;
		color:#FFF;
		}
	.a1{
		text-decoration:none;
		color:#999;
		position:absolute;
		left:25px;
		bottom:10px;
		font-size:14px;
		}
	.a1:hover{
		color:#b61d1d;
		}
	
	.a2{
		text-decoration:none;
		color:#999;
		position:absolute;
		right:25px;
		bottom:10px;
		font-size:14px;
		}
	.a2:hover{
		color:#b61d1d;
		}
	#foot{
		width:100%;
		height:170px;
		}
	#foot span{
		width:1000px;
		height:30px;
		font-size:16px;
		color:#999;
		position:absolute;
		left:500px;
		top:850px;
		}
	