/*
* @Author: yanglinru
* @Date:   2017-09-08 10:23:56
* @Last Modified by:   yanglinru
* @Last Modified time: 2017-09-14 11:32:15
*/


@charset "UTF-8";

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "ËÎÌå";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;			
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";	
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}


.w {
    
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}


  /* site-nav部分start  */
     .site-nav {
        height: 40px;
        line-height: 40px;  
        background-color: #f1f1f1;
     }
     #site-nav-send{
        position: relative;
        padding: 0 25px 0 10px;
     }

     #site-nav-city{
     	position: absolute;
     	top: 40px;
     	left: 70px;
     	display: none; 
     	float: left;
     }
     #site-nav-city ul{
     	float: left;
     	width: 50px;
     	height: 78px;
     	font-size: 12px;
      background-color: #fff;
     }
     #site-nav-city li{
        padding: 0px 2px;
        height: 25px;
     }
     #site-nav-send:hover {
        background-color: #fff;
     }
     #site-nav-send i{
        position: absolute;
        top: 19px;
        right: 8px;
        width: 15px;
        height: 7px;
        overflow: hidden;
     }
     #site-nav-send s{
        font: 400 13px/15px "consolas";
        position: absolute;
        top: -7px;
        /* display: block; */
        /* margin-top: -7px; */
     }
     
     .site-nav-r li {
        padding: 0 10px;
        float: left;
     }
     .site-nav-r .line {
        width: 1px;
        height: 12px;
        background-color: #ddd;
        margin-top: 15px;
        padding: 0;
     }
     .site-nav-r .tel {
        padding-left: 25px;
     }
     .tel span {
        position: absolute;
        width: 15px;
        height: 20px;
        top: 10px;
        left: 995px;
        background: url("images/tel.png");
     }
     #site-nav-r-hide{
     	display: none;
     	position: absolute;
     	top: 40px;
     	left: 792px;
     }
     #site-nav-r-hide ul{
     	float: left;
     	width: 80px;
     	height: 40px;
     	font-size: 12px;
      background-color: #fff;
     }
    #site-nav-r-hide li{
    	line-height: 20px;
      height: 20px;
      margin-top: 0px;
     }
     /* site-nav部分end  */



     /* search部分的start */
      .search-logo{
      	width: 362px;
        height: 100px;
      	float: left;
      	padding-left: 20px 0px;
      }
      .search-logo a{
      	display: block;
        width: 270px;
        height: 100px;
        float: left;
        text-indent: -9999px; 
        background: url(images/logo.png) no-repeat; 
      }

      .search-input{
      	height: 36px;
      	float: left;
      	padding-top: 25px;
      }
      .search-input input {
          float: left;
          width: 450px;
          height: 32px;
          padding-left: 4px;
          font: 14px/32px "microsoft yahei";
          color: rgb(153,153,153);
          border: 2px solid #b61d1d;
          border-right: 0;
     }
     .search-input button {
        width: 82px;
        height: 36px;
        color: #fff;
        font: 400 16px/36px "微软雅黑";
        background-color: #b61d1d;
        cursor: pointer;
     }
     .search-car {
          width: 96px;
          height: 34px;
          float: right;
          line-height: 34px;
          padding-left: 43px;
          position: relative;
          margin: 25px 65px 0 0;
          border: 1px solid #dfdfdf;
          background-color: #f9f9f9;
     }
     .icon1 {
           position: absolute;
           top: 8px;
           left: 16px;
           width: 18px;
           height: 16px;
           background: url(images/tel.png) no-repeat 0 -58px;
     }
     .icon2 {
           position: absolute;
           right: 10px;
           color: #999;
           /* font-family: "SimSun"; */
           font: 13px/34px "SimSun";
     }
     .icon3 {
        position: absolute;
        top: -5px;
        width: 16px;
        height: 14px;
        background-color: #c81623;
        line-height: 14px;
        text-align: center;
        color: #fff;
        border-radius: 7px 7px 7px 0;
     }
     .search-morelink{
     	  width: 530px;
          height: 23px;
          float: left;
          margin-top: 5px;
     }
     .search-morelink a{
     	margin-right: 8px;

     }
     /* search部分的end */

     /* shortcut部分的start */
    .shortcut-nav{
    	height: 44px;
    	width: 100%;
    	border-bottom: 2px solid #b1191a;
    }
    .shortcut-nav-menu{
    	 width: 210px;
         height: 44px;
         float: left;
         position: relative;
         z-index: 1;
    }
    .shortcut-nav-menu-all a {
          display: block;
          width: 190px;
          height: 44px;
          padding: 0 10px;
          background-color: #b1191a;
          color: #fff;
          font: 400 19px/44px "microsoft yahei";
     }
     .shortcut-nav-menu-one {
        height: 465px;
        margin-top: 2px;
        background-color: #c81623;
        border-left: 1px solid #b1191a;
        border-bottom: 1px solid #b1191a;
     }
     .shortcut-nav-menu-one div{
     	height: 116px;
        padding: 0 10px;
     }
      .shortcut-nav-menu-one div:hover {
        background-color: #fff;
     }
     .shortcut-nav-menu-one div:hover a{
         color: #c81623;
     }
     .shortcut-nav-menu-one h3 {
     	 display: block;
         float: left;
         height: 40px;
         line-height: 40px;
         font-size: 20px;
         font-family: "microsoft yahei";
     }
     .shortcut-nav-menu-one h3 a{
     	color: #fff;
     }
     .shortcut-nav-menu-one i {
         float: right;
         color: #fff;
         font: 400 16px/31px "microsoft yahei";
     }
     .shortcut-nav-menu-one h4 {
         display: block;
     	 float: left;        
         height: 70px;
         font-size: 14px;
         font-family: "microsoft yahei";
     }
     .shortcut-nav-menu-one h4 a{
     	display: block;
     	float: left;
     	color: #fff;
     	width: 65px;
     	padding:4px 5px;

     }
     #shortcut-nav-menu-one11,
     #shortcut-nav-menu-one22,
     #shortcut-nav-menu-one33,
     #shortcut-nav-menu-one44{
      height: 460px;
      width: 190px;
      position: absolute;
      top: 50px;
      left: 210px;
      display: none;
      background-color: #ddd; 
     }
     .shortcut-nav-items{
     	width: 730px;
     	height: 44px;
     	float: left;
     }
     .shortcut-nav-items li{
         float: left;
     }
     .shortcut-nav-items li a{
          display: block;
          width: 90px;
          height: 44px;
          line-height: 44px;
          font-size: 16px;
          color: #333;
          padding: 0 5px;
          text-align: center;
          font-family: "microsoft yahei";
     }
     .shortcut-nav-r{
     	float: right;
     }
     .shortcut-nav-r a{
     	display: inline-block;
     	height: 44px;
     	color: #333;
     	font-size: 16px;
     	line-height: 44px;
     	font-family:  "microsoft yahei";
     }
     /* shortcut部分的end*/


     /* main部分的start */
      .main{
      	position: relative;
      }
      #main-slider{
      	float: left;
      	width: 730px;
      	height: 450px;
      	position: relative;
      	margin: 12px 0px 0px 220px;
      }
      #main-slider ul{
         position: absolute;
         left: 40%;
         bottom: 10px;
         margin-left: -66px; 
      }
      #main-slider ul .mini{
          position:absolute;
          width:60px;
          height:60px;
          bottom:30px;
          border: 2px solid #c2ead7;
      }
      #main-slider li{
         float: left;
         color: #fff;
         width: 18px;
         height: 18px;
         text-align: center;
         margin-left: 25px;
         border-radius: 50%;
         cursor: pointer;
         background-color: #3e3e3e;
      }
      #arrow a{
      	display: inline-block;
      	position: absolute;
      	top: 50%;
      	width: 28px;
      	height: 62px;
      	margin-top: -31px;
        background: rgba(0,0,0,0.3);
        color: #fff;
        text-align: center;
        font: 400 22px/62px "simsun";
      }
      #arrow a:hover {
        background: rgba(0,0,0,0.6);
     }
     #arrow-left {
        left: 0;
        border-radius: 0 10px 10px 0;
     }
     #arrow-right {
         right: 0;
         border-radius: 10px 0 0 10px;
     }

     .main-news{
     	float: right;
     	width: 250px;
     	height: 460px;
     }
     .main-news-top{
         height: 180px;
         width: 248px;
         overflow: hidden;
         margin: 12px 0 0 0;
         border: 1px solid #e4e4e4;
     }
     .main-news-top-title{
          height: 35px;
          padding:0 10px;
          line-height: 35px;
          border-bottom: 1px dashed #e4e4e4;
     }
     .main-news-top-title h2{
        float: left;
        font: 400 16px/35px "microsoft yahei";
     }
     .main-news-top-title a{
        float: right;
        font-family: "consolas";
     }
     .main-news-top-content{
         padding: 5px 0 0 15px;
     }
     .main-news-top-content li {
        line-height: 25px;
     }
     .main-news-top-content span {
        font-weight: 700;
        margin-right: 5px;
     }

     .main-news-foot{
         width: 260px;
     }
     .main-news-foot li{
        width: 81px;
        height:91px;
        float: left;
        margin-left: 0px;
        margin-top: 0px;
        border: 1px solid #e8e8e7;
        border-top: 0;
     }
     .main-news-foot a{
       display: block;
       width: 80px;
       height: 90px;    
     }
     /* main部分的end */



     /* hotsale部分的start */
     .hotsale{
       position: relative;
     }
     .hotsale-top{
         height: 50px;
         font: 400 20px/50px "microsoft yahei";
     }
     .hotsale-top a{
          
     }
     .hotsale-line{
         width: 100%;
         height: 1px;
         background-color: #b61d1d;
     }
     .hotsale-foot{
         position: relative;
     }
     .hotsale-foot ul li{
     	float: left;
     	width: 230px;
     	height: 280px;
     	margin-top: 30px;
     	padding-right: 10px;
     }
     .hotsale-foot li a p{
     	position: relative;
     	padding-left: 70px;
     	font: 400 14px/30px "microsoft yahei";

     }
     .hotsale-foot ul li a{
        display: inline-block;
        width: 220px;
        height: 280px;
     }
      .hotsale-foot ul li a:hover{
      	border: 1px solid #ccc;
      }
     /* hotsale部分的end */



     /* foot部分的start */

      .foot-top-img{
      	width: 100%;
      	height: 54px;
      	position: relative;
      	padding: 20px 0px;

      	margin: 16px 0px;
      	background-color: #f5f5f5;
      }
      .foot-top-img-icon{
      	position: absolute;
      	left: 50%;
      }

      .foot-top-img-icon1{
      	margin-left: -604px;
      }
      .foot-top-img-icon2{
      	margin-left: -302px;
      }
      .foot-top-img-icon4{
      	margin-left: 302px;
      }
      .foot-top-shop dl{
      	float: left;
      	width: 230px;
      }
      .foot-top-shop dt{
      	height: 34px;
      	font: 400 18px/34px "microsoft yahei";
      }
      .foot-top-shop dd{
      	line-height: 23px;
      }
      .coverage{
      	width: 186px;
        height: 169px;
        float: right;
        margin-right: 50px;
        padding-left: 17px;
        background: url(images/china.png) no-repeat left bottom;
      }
      .coverage p{
      	padding-top: 40px;
      }
      .coverage a {
        float: right;
     }
      .foot-bottom{
      	text-align: center;
      	margin-top: 20px;
      	padding: 15px  0 30px;
      	border-top: 1px solid #e5e5e5;
      }
      .foot-bottom-link a{
         margin: 0 10px;
      }
      /* foot部分的end */


