<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shope</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowAll</display-name>
    <servlet-name>ShowAll</servlet-name>
    <servlet-class>com.shop8.web.ShowAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAll</servlet-name>
    <url-pattern>/showAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.shop8.web.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMain</display-name>
    <servlet-name>ShowMain</servlet-name>
    <servlet-class>com.shop8.web.ShowMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMain</servlet-name>
    <url-pattern>/showMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNext</display-name>
    <servlet-name>ShowNext</servlet-name>
    <servlet-class>com.shop8.web.ShowNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNext</servlet-name>
    <url-pattern>/showNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProByID</display-name>
    <servlet-name>GetProByID</servlet-name>
    <servlet-class>com.shop8.web.GetProByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProByID</servlet-name>
    <url-pattern>/getProByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePro</display-name>
    <servlet-name>UpdatePro</servlet-name>
    <servlet-class>com.shop8.web.UpdatePro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePro</servlet-name>
    <url-pattern>/updatePro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackLogin</display-name>
    <servlet-name>BackLogin</servlet-name>
    <servlet-class>com.shop8.web.BackLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackLogin</servlet-name>
    <url-pattern>/backLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackIndex</display-name>
    <servlet-name>BackIndex</servlet-name>
    <servlet-class>com.shop8.web.BackIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackIndex</servlet-name>
    <url-pattern>/backIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePro</display-name>
    <servlet-name>DeletePro</servlet-name>
    <servlet-class>com.shop8.web.DeletePro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePro</servlet-name>
    <url-pattern>/deletePro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrder</display-name>
    <servlet-name>ShowOrder</servlet-name>
    <servlet-class>com.shop8.web.ShowOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrder</servlet-name>
    <url-pattern>/showOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrderByID</display-name>
    <servlet-name>GetOrderByID</servlet-name>
    <servlet-class>com.shop8.web.GetOrderByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrderByID</servlet-name>
    <url-pattern>/getOrderByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUser</display-name>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>com.shop8.web.ShowUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/showUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePass</display-name>
    <servlet-name>ChangePass</servlet-name>
    <servlet-class>com.shop8.web.ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePass</servlet-name>
    <url-pattern>/changePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProByCondition</display-name>
    <servlet-name>FindProByCondition</servlet-name>
    <servlet-class>com.shop8.web.FindProByCondition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProByCondition</servlet-name>
    <url-pattern>/findProByCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCheck</display-name>
    <servlet-name>DeleteCheck</servlet-name>
    <servlet-class>com.shop8.web.DeleteCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCheck</servlet-name>
    <url-pattern>/deleteCheck</url-pattern>
  </servlet-mapping>
</web-app>